<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DEMO {{ name }} Vue.js Component</title>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
    <script src="../dist/{{ name }}.js"></script>
  </head>

  <body style="padding-top: 50px">
    <div id="app">

      <h1>DEMO {{ name }} Vue.js Component</h1>

      <p>
        <{{ name }} v-model="value" :maxlength="40" @left-chars="leftChars = $event"></{{ name }}>
        <strong>\{{ leftChars }}</strong>
      </p>

      <p>
        \{{ value }}
      </p>

    </div>

    <script>
      new Vue({
        el: '#app',
        data () {
          return {
            value: 'My Input Value',
            leftChars: 0
          }
        }
      })
    </script>
  </body>
</html>
